<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: 'Category Management' }) %>
  <body >
    <div class="container-fluid ">
      <div class="row min-vh-100" >
         <%- include('../partials/adminDashboard') %>

        <!-- Main Content -->
            <div class="col-md-8 d-flex flex-column m-4">
                <div class="row d-flex flex-row-reverse mb-3">
                    <a href="#" class="p-2 text-center bg-dark float-right text-decoration-none col-md-3 addLink">Add category</a>
                </div>
                <div class="row text-center mb-4">
                    <h2><b>Category Management</b></h2>
                </div>
                <div class=" row text-start d-flex flex-row">
                    <h3 class="col-md-2"><b>Gender</b></h3>
                    <form method="GET" action="/admin/products" class="col-md-3 gender ">
                        <select name="gender" onchange="this.form.submit()" class="form-select w-auto bg-dark addLink p-2">
                            <option value="" class=" bg-dark addLink p-2">All Genders</option>
                            <option value="Men" class=" bg-dark addLink p-2">Men</option>
                            <option value="Women" class=" bg-dark addLink p-2">Women</option>
                            <option value="Not Specific" class=" bg-dark addLink p-2">Not Specific</option>
                        </select>
                    </form>

                     <div class="table-wrapper">
                        <table class="table table-bordered table-striped cat-table mt-4">
                          <thead class="table-dark">
                            <tr>
                              <th>Product Type</th>
                              <th>Stock</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% productTypes.forEach(type => { %>
                              <tr>
                                <td><%= type.name %></td>
                                <td>—</td> 
                                <td>
                                  <a href="/admin/editPType/<%= type._id %>" class="ms-2 me-2">
                                    <img src="/images/edit.png" alt="edit" height="24px" width="24px">
                                  </a>
                                  <a href="/admin/deletePType/<%= type._id %>" class="ms-2 me-2">
                                     <img src="/images/delete.png" alt="edit" height="24px" width="24px">
                                  </a>
                                </td>
                              </tr>
                            <% }) %>
                          </tbody>
                    
                        </table>
                     </div>
                  <div class="row d-flex flex-row-reverse mb-3">
                    <a href="/admin/addPType" class="p-2 text-center bg-dark float-right text-decoration-none col-md-3 addLink">Add Product Type</a>
                  </div>
                      
                </div>

                <!-- Adding Fit-->
                 <div class="table-wrapper">
                        <table class="table table-bordered table-striped cat-table mt-4">
                    <thead class="table-dark">
                      <tr>
                        <th>Fit</th>
                        <th>Stock</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                     <tbody>
                        <% fits.forEach(fit => { %>
                          <tr>
                            <td><%= fit.name %></td>
                            <td>—</td>
                            <td>
                              <a href="/admin/editFit/<%= fit._id %>" class="me-2 ms-2">
                                <img src="/images/edit.png" alt="edit" height="24px" width="24px">
                              </a>
                              <a href="/admin/deleteFit/<%= fit._id %>" class="me-2 ms-2">
                                <img src="/images/delete.png" alt="edit" height="24px" width="24px">
                              </a>
                            </td>
                          </tr>
                        <% }) %>
                     </tbody>
                    
                  </table>
                 </div>
                  <div class="row d-flex flex-row-reverse mb-3">
                    <a href="/admin/addFit" class="p-2 text-center bg-dark float-right text-decoration-none col-md-3 addLink">Add Fit</a>
                  </div>
              
                   <!-- Adding Colour-->
                   <div class="table-wrapper">
                      <table class="table table-bordered table-striped cat-table mt-4">
                        <thead class="table-dark">
                          <tr>
                            <th>Colour</th>
                            <th>Hex Code</th>
                            <th>Stock</th>
                            <th>Actions</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% colours.forEach(colour => { %>
                            <tr>
                              <td><%= colour.name %></td>
                              <td>
                                <span style="background-color:<%= colour.hexCode %>; padding: 4px 8px; border-radius: 4px; color: #fff;">
                                  <%= colour.hexCode %>
                                </span>
                              </td>
                              <td>—</td>
                              <td>
                                <a href="/admin/editColour/<%= colour._id %>" class="ms-2 me-2">
                                  <img src="/images/edit.png" alt="edit" height="24px" width="24px">
                                </a>
                                <a href="/admin/deleteColour/<%= colour._id %>" class="ms-2 me-2">
                                   <img src="/images/delete.png" alt="edit" height="24px" width="24px">
                                </a>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                        
                      </table>
                   </div>
                  <div class="row d-flex flex-row-reverse mb-3">
                    <a href="/admin/addColour" class="p-2 text-center bg-dark float-right text-decoration-none col-md-3 addLink">Add Colour</a>
                  </div>
              
            </div>
      
           
    
        <footer class="text-center py-4 small text-muted border-top mt-4" style="font-weight: 700;">
        © 2025 | ShopCart | All Rights Reserved. | We Give You Style.
        </footer>
    </div>

   

    <!-- Bootstrap & Icons -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
