<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: 'Category Management' }) %>
  <body >
    <div class="container-fluid ">
      <div class="row min-vh-100" >
         <%- include('../partials/adminDashboard') %>

        <!-- Main Content -->
            <div class="col-md-8 d-flex flex-column m-4">
                <div class="row text-center mb-4">
                    <h2><b>Category Management</b></h2>
                </div>
                <div class=" row text-start d-flex flex-row">
                      <h2 class="m-3"><b>Product Category</b></h2>   

                     <div class="table-wrapper">
                        <table class="table table-bordered table-striped cat-table mt-4">
                          <thead class="table-dark">
                            <tr>
                              <th>Product Type</th>
                              <th>Stock</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% productTypes.forEach(type => { %>
                              <tr>
                                <td><%= type.name %></td>
                                <td><%= type.stock %></td> 
                                <td>
                                  <form method="GET" action="/admin/editPType/<%= type._id %>" class="ms-2 me-2 d-inline">
                                    <button type="submit" class="btn p-0 border-0 bg-transparent">
                                      <img src="/images/edit.png" alt="edit" height="24px" width="24px">
                                    </button>
                                  </form>

                                 <form method="post" action="/admin/deletePType/<%= type._id %>" class="ms-2 me-2 d-inline">
                                    <button type="submit" class="btn p-0 border-0 bg-transparent">
                                    <img src="/images/<%= type.isActive ? 'delete.png' : 'restore.png' %>"
                                        title="<%= type.isActive ? 'delete' : 'restore' %>"
                                        alt="<%= type.isActive ? 'delete' : 'restore' %>" 
                                        style="height: 24px; width: 24px; cursor: pointer;">

                                    </button>
                                  </form>
                                </td>
                              </tr>
                            <% }) %>
                          </tbody>
                    
                        </table>
                     </div>
                  <div class="row d-flex flex-row-reverse mb-3">
                    <a href="/admin/addPType" class="p-2 m-3 text-center bg-dark float-right text-decoration-none col-md-3 addLink">Add Product Type</a>
                  </div>
                      
                </div>

                <!-- Adding Fit-->
                  <h2 class="m-3"><b>Product Fits</b></h2> 
                 <div class="table-wrapper">
                        <table class="table table-bordered table-striped cat-table mt-4">
                    <thead class="table-dark">
                      <tr>
                        <th>Fit</th>
                        <th>Stock</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                     <tbody>
                        <% fits.forEach(fit => { %>
                          <tr>
                            <td><%= fit.name %></td>
                            <td><%= fit.stock %></td>
                            <td>
                              <form method="GET" action="/admin/editFit/<%= fit._id %>" class="ms-2 me-2 d-inline">
                                    <button type="submit" class="btn p-0 border-0 bg-transparent">
                                      <img src="/images/edit.png" alt="edit" height="24px" width="24px">
                                    </button>
                                  </form>

                                 <form method="post" action="/admin/deleteFit/<%= fit._id %>" class="ms-2 me-2 d-inline">
                                    <button type="submit" class="btn p-0 border-0 bg-transparent">
                                     <img src="/images/<%= fit.isActive ? 'delete.png' : 'restore.png' %>"
                                        title="<%= fit.isActive ? 'delete' : 'restore' %>"
                                        alt="<%= fit.isActive ? 'delete' : 'restore' %>" 
                                        style="height: 24px; width: 24px; cursor: pointer;">
                                    </button>
                                  </form>
                            </td>
                          </tr>
                        <% }) %>
                     </tbody>
                    
                  </table>
                 </div>
                  <div class="row d-flex flex-row-reverse mb-3">
                    <a href="/admin/addFit" class="p-2 m-3 text-center bg-dark float-right text-decoration-none col-md-3 addLink">Add Fit</a>
                  </div>
              
                   <!-- Adding Colour-->
                     <h2 class="m-3"><b>Product Colours</b></h2> 
                   <div class="table-wrapper">
                      <table class="table table-bordered table-striped cat-table mt-4">
                        <thead class="table-dark">
                          <tr>
                            <th>Colour</th>
                            <th>Hex Code</th>
                            <th>Stock</th>
                            <th>Actions</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% colours.forEach(colour => { %>
                            <tr>
                              <td><%= colour.name %></td>
                              <td>
                                <span style="background-color:<%= colour.hexCode %>; padding: 4px 8px; border-radius: 4px; color: #fff;">
                                  <%= colour.hexCode %>
                                </span>
                              </td>
                              <td><%= colour.stock %></td>
                              <td>
                                <form method="GET" action="/admin/editColour/<%= colour._id %>" class="ms-2 me-2 d-inline">
                                    <button type="submit" class="btn p-0 border-0 bg-transparent">
                                      <img src="/images/edit.png" alt="edit" height="24px" width="24px">
                                    </button>
                                  </form>

                                 <form method="post" action="/admin/deleteColour/<%= colour._id %>" class="ms-2 me-2 d-inline">
                                    <button type="submit" class="btn p-0 border-0 bg-transparent">
                                   <img src="/images/<%= colour.isActive ? 'delete.png' : 'restore.png' %>"
                                        title="<%= colour.isActive ? 'delete' : 'restore' %>"
                                        alt="<%= colour.isActive ? 'delete' : 'restore' %>" 
                                        style="height: 24px; width: 24px; cursor: pointer;">
                                    </button>
                                  </form>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                        
                      </table>
                   </div>
                  <div class="row d-flex flex-row-reverse mb-3">
                    <a href="/admin/addColour" class="p-2 m-3 text-center bg-dark float-right text-decoration-none col-md-3 addLink">Add Colour</a>
                  </div>
              
            </div>
      
           
    
        <footer class="text-center py-4 small text-muted border-top mt-4" style="font-weight: 700;">
        © 2025 | ShopCart | All Rights Reserved. | We Give You Style.
        </footer>
    </div>

   

    <!-- Bootstrap & Icons -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   <%- include('../partials/successAlert') %>
   
  </body>
</html>
