<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: 'Sign up' }) %>
  <body class=" d-flex justify-content-center align-items-center vh-100" >

    <div class="container p-4 shadow rounded-4 overflow-hidden  " style="max-width: 900px;background-color: rgb(244, 236, 227) !important;">
      <div class="row g-0 mt-4">
        <!-- Left Section (Form) -->
        <div class="col-md-6  p-5 d-flex flex-column justify-content-center">
          <h1><b>Create Account</b></h1>
          <a href="/auth/google" class="btn btn-light border-0 d-flex align-items-center justify-content-center gap-2 mb-3 mt-2" style="background-color: #ccc4c0!important;">
            <img src="/images/google.png" alt="Google" width="30" height="30" >
            <span>Signup with Google</span>
          </a>

          <div class="text-center mb-3 text-muted">
            <hr class="my-2" />
            <span class="position-relative px-2 " style="top: -18px; background-color: rgb(244, 236, 227) !important;"><b>or</b></span>
          </div>

          
          <form action="/signup" method="POST">
              <% if(error){%>  
                <div class="mb-3">
                    <p class="text-danger m-0"><%= error %></p>
                </div>
                <%}%>

                <div class="mb-3">
                  <input type="text" name="name" class="form-control rounded-2 px-3 py-2" placeholder="Full Name" value="<%= old?.name || '' %>" />
                  <% if (errors?.name) { %>
                    <p class="text-danger m-0"><%= errors.name %></p>
                  <% } %>
                </div>

                <div class="mb-3">
                  <input type="text" name="mobile" class="form-control rounded-2 px-3 py-2" placeholder="Mobile Number" value="<%= old?.mobile || '' %>" />
                  <% if (errors?.mobile) { %>
                    <p class="text-danger m-0"><%= errors.mobile %></p>
                  <% } %>
                </div>

                <div class="mb-3">
                  <input type="email" name="email" class="form-control rounded-2 px-3 py-2" placeholder="Email" value="<%= old?.email || '' %>" />
                  <% if (errors?.email) { %>
                    <p class="text-danger m-0"><%= errors.email %></p>
                  <% } %>
                </div>

                <div class="mb-3">
                  <input type="text" name="referCode" class="form-control rounded-2 px-3 py-2" placeholder="Refer code" value="<%= old?.referCode || '' %>">
                  <% if (errors?.referCode) { %>
                    <p class="text-danger m-0"><%= errors.referCode %></p>
                  <% } %>
                </div>

                <div class="mb-3 position-relative">
                  <input type="password" name="password" id="password" class="form-control rounded-2 px-3 py-2" placeholder="Password" oninput="showField()">
                  <% if (errors?.password) { %>
                    <p class="text-danger m-0"><%= errors.password %></p>
                  <% } %>
                   <!-- Show/Hide & Clear Buttons -->
                  <div class="position-absolute top-50 end-0 translate-middle-y d-flex align-items-center me-3">
                    <span class="d-none text-primary" id="show" onclick="showPassword()">Show</span>
                  </div>
                </div>
                


                <div class="mb-3">
                  <input type="password" name="cpassword" class="form-control rounded-2 px-3 py-2" placeholder="Confirm Password" />
                  <% if (errors?.cpassword) { %>
                    <p class="text-danger m-0"><%= errors.cpassword %></p>
                  <% } %>
                </div>

                <button type="submit" class="btn w-100 rounded-2 py-2 text-white" style="background-color: #4e4039;">Get OTP</button>
            </form>

          <p class="mt-4 text-center text-muted">
            Already have an account? <a href="/login" class="text-primary text-decoration-none">Login now..!</a>
          </p>
        </div>

        <!-- Right Section (Image) -->
        <div class="col-md-6 d-none d-md-block">
          <img src="/images/sign-up.png" alt="Login Visual" class="img-fluid h-100 w-100 object-fit-cover" style="object-fit: cover;" />
        </div>
      </div>
    </div>

     <script src="/js/showpassword.js"></script>
  </body>
</html>
