<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Change password' }) %>

    <body class=" d-flex justify-content-center align-items-center vh-100">

        <div class="container p-4 shadow rounded-4 overflow-hidden a"
            style="max-width: 900px;background-color: rgb(244, 236, 227) !important;">
            <div class="row g-0">
                <!-- Left Section (Form) -->
                <div class="col-md-6  p-5 d-flex flex-column justify-content-center">
                    <h2 class="mb-5"><b>Change password</b></h2>

                    <% if (error && error.length> 0) { %>
                        <p class="text-danger">
                            <%= error %>
                        </p>
                        <% } %>


                            <form action="/updatePassword" method="POST">

                                <input type="text" name="old" id="oldpassword"
                                    class="form-control mt-3 position-relative" placeholder="Old Password" />
                                <% if(errors?.old) {%>
                                    <p class="text-danger m-0">
                                        <%= errors.old %>
                                    </p>
                                    <%}%>
                                        <div class="position-relative mt-3">
                                            <input type="password" name="password" id="password"
                                                class="form-control mt-3" placeholder="New Password"
                                                oninput="showField()" />

                                            <!-- Show/Hide & Clear Buttons -->

                                            <span class="position-absolute top-50 end-0 translate-middle-y me-3"
                                                style="cursor:pointer;" onclick="showPassword()">
                                                <i class="bi bi-eye" id="toggleIcon" style="color: rgb(2, 2, 110);"></i>
                                            </span>
                                        </div>

                                        <% if(errors?.password) {%>
                                            <p class="text-danger m-0">
                                                <%= errors.password %>
                                            </p>
                                            <%}%>

                                                <input type="password" name="cpassword" class="form-control mt-3"
                                                    placeholder="Confirm Password" />
                                                <% if(errors?.cpassword) {%>
                                                    <p class="text-danger m-0">
                                                        <%= errors.cpassword %>
                                                    </p>
                                                    <%}%>

                                                        <button type="submit"
                                                            class="btn w-100 rounded-2 py-2 text-white mt-4"
                                                            style="background-color: #4e4039;">Change Password</button>
                            </form>

                            <p class="mt-4 text-center text-muted">
                                <a href="/profile" class="text-primary text-decoration-none text-center">Go back to
                                    profile
                                    page</a>
                            </p>
                </div>

                <!-- Right Section (Image) -->
                <div class="col-md-6 d-none d-md-block">
                    <img src="/images/change-password.png" alt="Login Visual"
                        class="img-fluid h-100 w-100 object-fit-cover" style="object-fit: cover;" />
                </div>
            </div>
        </div>
        <script src="/js/showpassword.js"></script>
    </body>

</html>