<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'ShopCart' }) %>

<body>
  <%- include('../partials/navbar') %>

  <div class="container py-5">
    <h2 class="text-center mb-4">WISHLIST</h2>
    <p class="text-center text-muted mb-5">Time to fulfill your wishes</p>

    <div class="list-group bg-white rounded">
      <% wishlistItems.forEach(item => { %>
      <div class="list-group-item d-flex align-items-center justify-content-between shadow-sm mb-3 p-2">
        
        <!-- Product Image -->
        <div class="flex-shrink-0 me-3" style="width: 120px; height:120px;">
          <a href="/details/<%=item.productId%>">
            <img src="<%= item.image %>" class="img-fluid rounded" alt="<%= item.name %>" style="width:100%; height:100%; object-fit:cover;">
          </a>
        </div>

       <!-- Product Details -->
        <div class="flex-grow-1">
          <h6 class="mb-1"><%= item.name %></h6>

          <% if (item.stock > 0) { %>
            <p class="mb-0 text-success">In stock</p>
          <% } else { %>
            <p class="mb-0 text-danger">Out of stock</p>
          <% } %>

          <p class="mb-0 fw-bold">₹<%= item.price %></p>
        </div>


        <!-- Actions -->
        <div class="d-flex flex-column align-items-end">
          <div class="d-flex flex-column align-items-end">
                <button 
                    class="btn btn-success btn-sm mb-2 p-2 bg-success add-to-cart-btn" 
                    data-productid="<%= item.productId %>" 
                    data-variantid="<%= item.variantId %>">
                    Add to Cart
                </button>

                <button 
                    class="btn btn-outline-danger btn-sm delete-wishlist-btn"
                    data-productid="<%= item.productId %>" 
                    data-variantid="<%= item.variantId %>">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="/js/wishlist.js"></script>

</body>
</html>
